---
export interface Props {
  date: string;
  title: string;
  href: string;
}

const { date, title, href } = Astro.props;
const datetime = date.replaceAll('.', '-');
---

<time datetime={datetime}>{date}</time>
<p>
  <a
    href={href}
    target='_blank'
    class='text-blue-700 md:text-lg hover:underline visited:text-purple-800'
  >
    {title}
  </a>
</p>
