---
export interface Props {
  name: string;
  url: string;
  imageUrl: string;
  imageAlt: string;
}

const { name, url, imageUrl, imageAlt } = Astro.props;
---

<a
  href={url}
  target='_blank'
  rel='noreferrer noopener'
  class='flex gap-2 flex-col group'
>
  <span class='text-2xl group-hover:text-gray-500'>{name}</span>
  <img src={imageUrl} alt={imageAlt} class='group-hover:opacity-80' />
</a>
