---
export interface Props {
  name: string;
  href: string;
  imagePath?: string;
}

const { name, href, imagePath } = Astro.props;
---

<a
  href={href}
  target='_blank'
  rel='noreferrer noopener'
  class='flex items-center gap-2 py-2 px-3 group border border-gray-300 rounded-lg hover:bg-gray-100 transition-colors duration-200 ease-in-out'
>
  {
    imagePath ? (
      <img src={imagePath} width='20' height='20' aria-hidden='true' />
    ) : (
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='w-6 h-6'
        aria-hidden='true'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244'
        />
      </svg>
    )
  }
  <span class='text-gray-700 text-lg'>{name}</span>
</a>
